article {
    padding: 60px 0;
    font-size: 16px;

    header {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

	table {
		margin: 0 0 1.5em;
	}
    
    ol, ul {
        font-weight: 600;
        margin: 1.5em 0;
        padding: 0;
        list-style-position: outside;
        padding-left: 1.5em;
        
        li {
            font-weight: 400;
            margin-bottom: 0.5em;
        }
    }
    
    blockquote {
        border: 0;
        font-size: 24px;
        margin: 1.2em -4em 1.2em 0;
        padding: 0;

        p {
            font-size: 30px;
            line-height: 1.1;
            color: $accent;
            font-weight: 600;
        }
    }

    h1 {
        font-weight: 600;
        font-size: 2.1em;
        margin: 0.5em 0 1em;
    }

    h2 {
        font-size: 1.5em;
        margin: 0.5em 0 1em;
        font-weight: 600;
    }

    h3 {
        font-size: 1.3em;
        font-weight: 600;
    }

    h4 {
        font-size: 1em;
        font-weight: 600;
    }

    hr {
        margin: 3em 0;
    }

     img {
        max-width:100%;
        margin:1em 0;
    }

    .highlight {
        border:0;

        .lineno {
            color:$textmuted;
        }
    }

	$padding: 15px;

    pre {
        padding: $padding 0 $padding $padding;
        margin: $padding 0 $padding (-$padding);
    }    
	
	table {
		margin: $padding 0 $padding (-$padding);
	}

	td, th {
		padding: $padding/2 $padding $padding/2 $padding;

		&:last-child {
			padding-right: $padding*2;
		}
	}
}
